<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reset Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/resetpass/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
                <form  method="POST" action="/reset?_method=PUT" class="login100-form validate-form">
                    {{ csrfField() }}
					<span class="login100-form-title ">
						Reset Password
                    </span>
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    
                    <div class=" m-t-85 m-b-35">
                        <div class="wrap-input100 validate-input" data-validate = "Enter new password">
                            <input class="input100" type="password" name="password">
                            <span class="focus-input100" data-placeholder="New Password"></span>
                        </div>
                        <br>
                        {{ elIf('<span class="text-danger">$self</span>', getErrorFor('password'), hasErrorFor('password')) }}
                    </div>

                    <div class="m-b-50">
                        <div class="wrap-input100 validate-input" data-validate="Enter confirm password">
                            <input class="input100" type="password" name="password_confirmation">
                            <span class="focus-input100" data-placeholder="Confirm Password"></span>
                        </div>
                        <br>
                        {{ elIf('<span class="text-danger">$self</span>', getErrorFor('password_confirmation'), hasErrorFor('password_confirmation')) }}
                    </div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="resetButton">
							confirm
						</button>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/assets/resetpass/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/resetpass/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/resetpass/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/resetpass/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/resetpass/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/resetpass/vendor/daterangepicker/moment.min.js"></script>
	<script src="/assets/resetpass/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/assets/resetpass/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/assets/resetpass/js/main.js"></script>

</body>
</html>